<!-- Analysis Page goes here -->
<div id="Analysis Page" class = "module">

    <h1>Select Algorithm Complexity</h1>
    <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" title="Algorithm is faster with less accuracy"></span>
    <br/>
    <b>  Less Accurate/Faster  </b><input id="Slide"/><b>  More Accurate/Slower  </b>
    <br/><br/>
    <div class="dropdown" style="width: 125px;margin:auto">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Advanced Options
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
        </ul>
    </div>




    <h1>Select Features for Classification</h1>
    <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" title="Please select features for classification"></span>
    <br/>
    <div>
        <div style="width: 500px; height: 200px; margin: auto">
            <label *ngFor= "let featureName of featuresArray" class="checkbox-inline">
                <input type="checkbox" [value]="featureName" [checked] ="selection.indexOf(featureName) > -1" (change) = "toggleSelection(featureName)"> {{featureName}}
            </label>
        </div>
    </div>

</div>